<h1>タスク一覧</h1>
  <%= search_form_for @q do |f| %>
    <%= f.label :title_cont, "タスク名検索" %>
    <%= f.search_field :title_cont %>
    <%= f.label :status_cont, "状態検索" %>
    <%= f.select :status_cont, @statues, include_blank: true %>
    <%= f.label :priority_eq, "優先順位" %>
    <%= f.select :priority_eq, @priorities, include_blank: true %>
    <%= f.label :content_eq, "ラベル名" %>
    <%= f.select :content_eq, @labels.map{|t| [t.content, t.id]}, include_blank: true %> 
    <%= f.submit "検索" %>
  <% end %>


<div class="x-scroll">
<table class="table">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>詳細</th>
      <th>終了期限</th>
      <th>状態</th>
      <th>優先順位</th>
      <th class="text-center">ラベル</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class="task_title"><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline.strftime("%Y年%m月%d日")%></td>
        <td><%= task.status %></td>
        <td class="text-center"><%= task.priority_i18n %>
        <td>
          <% task.favorites_labels.each do |l| %>
          <ul>
            <li><%= l.content %></li>
          </ul>
           <% end %>
        </td>
        <td><%= task.reads.find_by(user_id: current_user.id) ? '既読' : '未読' %></td>
        <td class="task_show"><%= link_to "詳細", task_path(task, r: task.id) %></td>
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task_path(task), method: :delete, data: {confirm: "削除して宜しいですか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
 <%= paginate @tasks %>
&nbsp
<div>
  <%= link_to "タスクを作成する", new_task_path, class: "new_task" %>
</div>
&nbsp
<div>
  <%= link_to "終了期限でソートする(期限が近い順に)", tasks_path(sort_params: "deadline_expired") %>
</div>
&nbsp
<div>
  <%= link_to "優先順位でソートする(高い順に)", tasks_path(sort_params: "priority_expired") %>
</div>
&nbsp
<h2 class="text-center">各ラベルの使用頻度</h2>
<%= column_chart (@graph),xtitle: "ラベル名" %>
&nbsp
<%= month_calendar(attribute: :deadline, events: @tasks, number_of_weeks: 8) do |date, tasks|  %>
  <%= date %>

  <% tasks.each do |task| %>
    <div>
      <p id="task_calender<%= task.id%>">期限タスク:<%= link_to task.title, task %></p>
    </div>
  <% end %>
<% end %>


<div class="index_anounce_deadline">
<h3>終了期限間近 or 終了したタスク一覧(完了したタスク以外を表示してます)</h3>
  <table class="table" id="deadline_rspec">
      <tr>
        <th>タスク名前</th>
        <th>予定していた終了期限</th>
        <th>状態</th>
      </tr>
    <% @announce_deadline.each do |list| %>
      <tr>
        <td><%= list.title %></td>
        <td><%= list.deadline.strftime("%Y年%m月%d日")%></td>
        <td><%= list.status %></td>
      </tr>
  <% end %>
  </table>
</div>



