<h1>タスク一覧</h1>
<table border="1">
  <thead>
    <tr>
      <th>タスク名</th>
      <th>詳細</th>
      <th>終了期限</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline.strftime("%Y年%m月%d日")%></td>
        <td><%= link_to "詳細", task %></td>
        <td><%= link_to "編集", edit_task_path(task) %></td>
        <td><%= link_to "削除", task, method: :delete, data: {confirm: "削除して宜しいですか？"} %></td>
      </tr>
    <% end %>
    <tr>
    </tr>
  </tbody>
</table>
&nbsp
<div>
  <%= link_to "タスクを作成する", new_task_path %>
</div>
&nbsp
<div>
  <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
</div>