<h1>タスクの詳細</h1>

<div class="x-scroll">
  <table class="table table-bordered text-center">
  <tr>
    <th>タスク名</th>
    <td><%= @task.title %></td>
  <tr>
  <tr>
    <th>詳細</th>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <th>終了期限</th>
    <td><%= @task.deadline.strftime("%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>状態</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>画像</th>
    <td><%= link_to "アップロードしたファイルだよ！", url_for(@task.image) if @task.image.attached? %></td>
  </tr>
  <tr>
    <th></th>
    <td><%= @task.priority_i18n %></td>
  </tr>
  </table>
</div>
<div class="task_label">
  <p>選択したラベル名一覧</p>
  <% @task.favorites_labels.each do |l| %>
    <ul>
      <li><%= l.content %></li>
    </ul>
  <% end %>
</div>

<div>
  <%= link_to "戻る", tasks_path %>
</div>