<h1>グループ一覧</h1>

<div class="x-scroll">
<table class="table">
  <thead>
    <tr>
      <th>グループ名</th>
      <th>グループの説明</th>
      <th></th>
      <th></th> 
      <th></th> 
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.content %></td>
        <% if group.assigns.pluck(:user_id).include?current_user.id %>
          <td><%= link_to "詳細", group_path(group) %>
        <% end %>
        <% if current_user.id == group.owner_id %>
          <td><%= link_to "編集", edit_group_path(group) %> <!-- グループのownerのみ -->
          <td><%= link_to "削除", group_path(group), 
          method: :delete, data: {confirm: "削除して宜しいですか？"} %></td> <!-- グループのownerのみ -->
        <% end %>
        <% if !group.assigns.pluck(:user_id).include?current_user.id %>
          <td><%= link_to "参加", assigns_path(group_id: group.id), method: :post %></td>
        <% end %>

        <% if group.assigns.pluck(:user_id).include?current_user.id %>
          <% unless group.assigns.where(user_id: current_user.id).find_by(leader: true) %>
            <td><%= link_to "脱退", assign_path(id: current_user.assigns.pluck(:id)),method: :delete, data: {confirm: "退会してよろしいですか？"} %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  &nbsp
<div>
  <%= link_to "グループを作成する", new_group_path %>
</div>
  &nbsp
<div>
  <%= link_to "戻る", tasks_path %>
</div>